

/*for Desktops*/
#container1 {
  float: left;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.bg-bobscnc {
  background-color: rgb(74, 78, 81) !important;
  margin-top: 10px;
  color: white;
}

hr.class-1 {
  border-top: 10px solid #8c8b8b;
}
hr.class-2 {
  border-top: 3px solid #8c8b8b;
}

.notebox {
  height: 260px;
  width: auto;
  background-color: rgb(235, 239, 240);
}

.projectbox {
  height: 300px;
  width: auto;
}