

.bg-bobscnc {
  background-color: rgb(74, 78, 81) ;
  margin-top: 10px;
  color: white;
}


.notebox {
  position: absolute;
  top: 0px;
  height: 300px;
  width: auto;
  background-color: rgb(235, 239, 240);
  border-top: 3px solid #8c8b8b;
  border-bottom: 3px solid #8c8b8b;
  margin-bottom: 10px;

}
  


.projectbox {
  border-top: 3px solid #8c8b8b;
  border-bottom: 3px solid #8c8b8b;
  font-size:large;
  font-weight: 450;
}


.windowbox {
  background-color: whitesmoke;
  border-top: 3px solid #8c8b8b;
  border-bottom: 3px solid #8c8b8b;
  margin: 10px;
  padding: 10px;


}

.projectinput {
  height: 300px;
  width: auto;
}

.bg-project {
  background-color: rgb(193, 196, 197);
  color: black;
  font-weight: 500;
}